{
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "es5",
    "arrowParens": "always",
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": false,
    "endOfLine": "auto"
}
